<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a href="{{ path('home') }}" class="nav-link">
                <i class="fas fa-cubes"></i> Orders
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('products') }}" class="nav-link">
                <i class="fas fa-cubes"></i> Products
            </a>
        </li>
    </ul>
</header>
