{% extends 'base.html.twig' %}

{% block title %}
    Order Management
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-primary">
                <i class="fas fa-shopping-cart"></i>
                Orders
            </h2>
            <button type="button" class="btn btn-primary shadow-sm" data-toggle="modal" data-target="#createOrderModal" >
                <i class='fas fa-cart-plus'></i>
                Create Order
            </button>
        </div>

        <table class="table table-hover table-bordered align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Total Price</th>
                    <th class="text-center">
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
{% endblock %}

{% block scripts %}
    <script src="/js/orders.js"></script>
{% endblock %}
